In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame([ [np.nan, 2, np.nan, 0], 
                    [3, 4, np.nan, 1], 
                    [np.nan, np.nan, np.nan, 5], 
                    [np.nan, 3, np.nan, 4],
                    [np.nan, np.nan, np.nan, np.nan] ],
                    columns=list('ABCD'))
df

In [ ]:
df.isnull().sum()

In [ ]:
df.isna()

In [ ]:
pd.isna(df['A'])

In [ ]:
df['A'].notna()

In [ ]:
df

In [ ]:
df.fillna(0)

In [ ]:
df.fillna(df.mean())

In [ ]:
df.fillna(df.mean()['A':'B'])

In [ ]:
df

In [ ]:
df.fillna(method= 'bfill')

In [ ]:
df.fillna(method= 'ffill')

In [ ]:
df.fillna(method= 'bfill').fillna(method= 'ffill')

In [ ]:
df

In [ ]:
df.fillna(value={'A': 0, 'B': 1, 'C': 2, 'D': 3}, limit=1)

In [ ]:
df.fillna(value={'A': 0, 'B': 1}, limit= 1)

In [ ]:
df

In [ ]:
df.dropna()

In [ ]:
df.dropna(axis=0)

In [ ]:
df.dropna(axis=1)

In [ ]:
df['B'].dropna()

In [ ]:
df

In [ ]:
df.dropna(thresh=2)  #drop rows that have more than 2 NaN values

In [ ]:
df.dropna(how='all')  #only drop rows where all members are NaN

In [ ]:
df

In [ ]:
df.dropna(subset=['B'])  # drop every row with NaN on its columns B

In [ ]:
#Imputing missing values

In [ ]:
from sklearn.preprocessing import Imputer
imr = Imputer(missing_values='NaN', strategy='mean', axis=0)
imr = imr.fit(df)
imputed_data = imr.transform(df.values)

In [ ]:
from sklearn.impute import SimpleImputer 
imr = SimpleImputer(missing_values=np.nan, strategy='mean')
imr = imr.fit(df)
imputed_data = imr.transform(df.values)

In [ ]:
df

In [ ]:
imputed_data